<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<main role="main" class="container">
    <h1 class="mt-5">My Warehouse</h1>
    <p class="lead">Small tracking application for a warehouse with a REST API</p>
    <p>📕 Use <a href="/swagger-ui.html">SWAGGER documentation</a></p>
</main>

</body>
</html>