<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<main role="main" class="container">
    <h1 class="mt-5" th:text="#{Home.title}"></h1>
    <p class="lead" th:text="#{Home.slogan}"></p>
    <p><span th:text="#{Home.swaggerDoc1}"></span> <a href="/swagger-ui.html" th:text="#{Home.swaggerDoc2}"><</a></p>
</main>

</body>
</html>